
@font-face {
font-family:'Capriola';
src:url('https://fonts.googleapis.com/css?family=Capriola');
}

p { 
  filter: drop-shadow(0 0 1.5vh #333) drop-shadow(0 0 1vh #fbc)  drop-shadow(0 0 1vh #848275); 
  color: #ffb000 !important; 
  font-family: 'Capriola';
  text-align: center;
  font-size: 10vh;
}

body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }
